.body {
    margin: 0;
    background-color: white;
    width: 100%;
    height: 100px;

}

.container-one {
    width: 100%;
    border: 10px solid black;
    padding: 10px;
    box-sizing: border-box;
    
}
.box-one {
    width: 50px;
    height: 150px;
    background-color: purple;
    display: inline-block;

}

.box-two {
    width: 400px;
    height: 200px;
    background-color: green;
    display: inline-block;
}

.circle {
    width: 70vw;
    height: 25vh; 
    background-color: lightblue;
    

}
