.column-1 {
    width: 1000px;
    height: 150px;
    background-color: lightgray;
    padding-top: 10px;
    
}

.column-1square {
    background-color: darkblue;
    height: 14vh;
    width: 14vh;
    margin: 10px;
}

.column-2 {
    width: auto;
    height: 150px;
    background-color: white;
    padding: 6vh 6vw;
    font-size: 25px;
    text-align: justify;
    overflow-x: scroll;
}

.column-3 {
    width: 1000px;
    height: 150px;
    background-color: skyblue;
}

.column-4 {
    width: 1000px;
    height: 150px;
    background-color: turquoise;
}

.column-5 {
    width: 1000px;
    height: 150px;
    background-color: lightgreen;
}

.column-6 {
    width: 1000px;
    height: 150px;
    background-color: yellow;
}